<!doctype html>
<html lang="en" ng-app="patternEditor">
<head>
    <title>Pattern Editor</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!--Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!--AngularJS-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>

    <script src="js/app.js"></script>
    <link href="content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="content/site.css">
    <link href="content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="index" ng-controller="PatternController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Pattern Editor</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#home">Patterns</a>
                    </li>
                    <li class="page-scroll" ng-if="stack.length > 1">
                        <a href="#pattern">Add pattern</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#category" ng-if="stack.length > 1">Add subcategory</a>
                        <a href="#category" ng-if="stack.length <= 1">Add category</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/service/model/export">Export</a>
                    </li>
                    <li class="page-scroll">
                        <a href="" ng-click="showImport()">Import</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Pattern Resolver</span>
                        <hr class="star-light">
                        <span class="skills">Find the pattern for your problem</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="home">
        <div class="container">
            <div class="well">
                <h3>Pattern selection</h3>
                <div id="list-header">
                    <span ng-repeat="node in stack" style="font-size: 1.3em"> <b ng-if="node.name !== 'root'">{{node.name}}</b> /</span>
                    <div ng-if="stack.length > 1" ng-click="back()" style="float:right">Back</div>
                    <div ng-if="stack.length <= 1" style="color:lightgray; float:right">Back</div>
                </div>

                <table class="table table-condensed table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th ng-if="focus.patterns.length > 0">Context</th>
                        <th ng-if="focus.patterns.length > 0">Problem</th>
                        <th colspan="100%" style="text-align:right;">&nbsp;</th>
                    </tr>
                    <tr ng-repeat="category in focus.categories">
                        <td ng-click="openCategory(category)" >{{category.name}}</td>
                        <td ng-click="openCategory(category)"  colspan="100%">{{category.description}}</td>
                        <td style="text-align:right;"><a ng-click="deleteCategory(category)">Delete</a></td>
                    </tr>
                    <tr ng-repeat="pattern in focus.patterns">
                        <td ng-click="showPattern(pattern)" >{{pattern.name}}</td>
                        <td ng-click="showPattern(pattern)" >{{pattern.description}}</td>
                        <td ng-click="showPattern(pattern)" >{{pattern.context}}</td>
                        <td ng-click="showPattern(pattern)" >{{pattern.problem}}</td>
                        <td style="text-align:right;" colspan="100%"><a ng-click="deletePattern(pattern)">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modalImport" >
        <div class="modal-dialog"  style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Import your export!</h4>
                </div>
                <div class="modal-body">
                    <div style="position:relative;">
                        <input ng-model="importFile"
                               onchange="angular.element(this).scope().file_changed(this)"
                               type="file" accept="application/json"/>
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadFile()">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPattern">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Pattern '{{pattern.name}}'</h4>
                </div>
                <div class="modal-body" ng-if="!editPattern">
                    <table class="table table-striped table-condensed">
                        <tr>
                            <td>Name</td>
                            <td>{{pattern.name}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{pattern.description}}</td>
                        </tr>
                        <tr>
                            <td>Context</td>
                            <td>{{pattern.context}}</td>
                        </tr>
                        <tr>
                            <td>Problem</td>
                            <td>{{pattern.problem}}</td>
                        </tr>
                        <tr>
                            <td>Solution</td>
                            <td>{{pattern.solution}}</td>
                        </tr>
                        <tr>
                            <td>Consequences</td>
                            <td>{{pattern.consequences}}</td>
                        </tr>
                        <tr>
                            <td>Image URL</td>
                            <td>
                                <a href="{{pattern.imageUrl}}"><img ng-src="{{pattern.imageUrl}}"/></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body" ng-if="editPattern">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input ng-model="pattern.name" type="text" class="form-control" placeholder="The name of your pattern">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <input ng-model="pattern.description" type="text" class="form-control" placeholder="How would you describe your pattern?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Context</span>
                        <input ng-model="pattern.context" type="text" class="form-control" placeholder="In wich context does the pattern apply?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Problem</span>
                        <input ng-model="pattern.problem" type="text" class="form-control" placeholder="What is the problem you are solving?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Solution</span>
                        <input ng-model="pattern.solution" type="text" class="form-control" placeholder="And what is the solution?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Image URL</span>
                        <input ng-model="pattern.imageUrl" type="text" class="form-control" placeholder="If any, enter an link to the image">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Consequences</span>
                        <input ng-model="pattern.consequences" type="text" class="form-control" placeholder="Be honest">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-if="!editPattern" ng-click="startEdit()">Edit</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-if="editPattern" ng-click="updatePattern(pattern)">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <section class="success" id="pattern" ng-if="stack.length > 1">
        <div class="container">
            <div class="well">
                <h3>Add your pattern to the category '{{focus.name}}'</h3>
                <div class="new-pattern-form">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input ng-model="newPatternName" type="text" class="form-control" placeholder="The name of your pattern">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <input ng-model="newPatternDescription" type="text" class="form-control" placeholder="How would you describe your pattern?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Context</span>
                        <input ng-model="newPatternContext" type="text" class="form-control" placeholder="In wich context does the pattern apply?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Problem</span>
                        <input ng-model="newPatternProblem" type="text" class="form-control" placeholder="What is the problem you are solving?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Solution</span>
                        <input ng-model="newPatternSolution" type="text" class="form-control" placeholder="And what is the solution?">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Consequences</span>
                        <input ng-model="newPatternConsequences" type="text" class="form-control" placeholder="Be honest">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Image URL</span>
                        <input ng-model="newPatternImageUrl" type="text" class="form-control" placeholder="If any, enter an link to the image"><br/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Image</span>
                        <img style="height: 200px;" ng-src="{{newPatternImageUrl}}">
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="savePattern(newPatternName, newPatternDescription, newPatternContext, newPatternProblem, newPatternSolution, newPatternImageUrl,newPatternConsequences)">Save</button>
                </div>
            </div>
        </div>
    </section>
    <section id="category">
        <div class="container">
            <div class="well">
                <h3 ng-if="stack.length > 1">Add a new subcategory to '{{focus.name}}'</h3>
                <h3 ng-if="stack.length <= 1">Add a new category</h3>
                <div class="new-pattern-form">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input ng-model="newCategoryName" type="text" class="form-control" placeholder="The name of your pattern">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Description</span>
                        <input ng-model="newCategoryDescription" type="text" class="form-control" placeholder="How would you describe your pattern?">
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="saveCategory(newCategoryName, newCategoryDescription)">Save</button>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Nijenoord 1<br>Utrecht</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/terryhendrix90" target="_blank" title="Facebook Terry!" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/profile/view?id=185452535&authType=NAME_SEARCH&authToken=JoLa&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-2-2%2CtarId%3A1428048432305%2Ctas%3Aterry+hendrix" target="_blank" title="LinkedIn Terry!"  class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/janoverdoses/" target="_blank" title="Facebook Jan!" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://nl.linkedin.com/in/janoverduin1/" target="_blank" title="LinkedIn Jan!"  class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About the team</h3>
                        <p>Pattern Editor created by Terry and Jan.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Pattern Editor 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
</body>
</html>