#list-header {
    height: 50px;
}

tr {
    font-size:1.2em;
}

.input-group {
    margin-bottom:20px;
    margin-top:20px;
}

.input-group-addon {
    width: 140px;
}

input[type=text] {
    width: 400px !important;
}

.modal-dialog {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}